body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 62.5%;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#root {
  width: 100%;
  height: 100%;
  background: #cccdcd;
}
.configurator-container {
  background: #e4e6e6;
  min-height: calc(66.9vw - 22.57875%);
  display: flex;
  .canvas-container {
    @media (min-width: 1025px) {
      width: 66.25%;
    }
    @media (max-width: 1024px) {
      width: 100%;
      aspect-ratio: calc(1272 / 850);
    }

  }
  .controls-wrapper {
    @media (min-width: 1025px) {
      width: 33.75%;
    }
    .box_colors {
      button {
        border: 1px solid #ccc;
        width: 50px;
        height: 50px;
        cursor: pointer;
      }
    }
  }
}
